@font-face {
    font-family: "Artifakt Element Bold";
    src: url("../fonts/Artifakt Element Bold.ttf");
}

@font-face {
    font-family: "Artifakt Element Black";
    src: url("../fonts/Artifakt Element Black.ttf");
}

@font-face {
    font-family: "Artifakt Element Medium";
    src: url("../fonts/Artifakt Element Medium.ttf");
}

@font-face {
    font-family: "Artifakt Element Book";
    src: url("../fonts/Artifakt Element Book.ttf");
}

@font-face {
    font-family: "Artifakt Element Light Italic";
    src: url("../fonts/Artifakt Element Light Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Thin Italic";
    src: url("../fonts/Artifakt Element Thin Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Heavy Italic";
    src: url("../fonts/Artifakt Element Heavy Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Book Italic";
    src: url("../fonts/Artifakt Element Book Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Black Italic";
    src: url("../fonts/Artifakt Element Black Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Medium Italic";
    src: url("../fonts/Artifakt Element Medium Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Italic";
    src: url("../fonts/Artifakt Element Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Bold Italic";
    src: url("../fonts/Artifakt Element Bold Italic.TTF");
}

@font-face {
    font-family: "Artifakt Element Light";
    src: url("../fonts/Artifakt Element Light.TTF");
}

@font-face {
    font-family: "Artifakt Element Thin";
    src: url("../fonts/Artifakt Element Thin.TTF");
}

@font-face {
    font-family: "Artifakt Element Heavy";
    src: url("../fonts/Artifakt Element Heavy.TTF");
}

@font-face {
    font-family: "Artifakt Element Regular";
    src: url("../fonts/Artifakt Element Regular.TTF");
}

@font-face {
    font-family: "Artifakt Element Hair Italic";
    src: url("../fonts/Artifakt Element Hair Italic.TTF");
}

@font-face {
    font-family: "Artifakt element Hair";
    src: url("../fonts/Artifakt element Hair.TTF");
}